@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* overall */
html {
    height: 100%;
}

body {
    font-family: 'Inconsolata', monospace;
    background-color: black;
    color: white;
    height: 100%;
    margin: 0;
}

/* logo */
#logo-container {
    text-align: center;
    padding-top: 2%;
}

#logo {
    width: 20%;
    max-width: 460px;
}

/* section header */
.prompt {
    color: #f7a8da;
}

.container {
    padding: 2%;
    background-color: black;
}

/* content */
#content {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: table;
}

/* link container */
.link {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.link a:before {
    content: "- ";
}

.link:hover a:before {
    content: "> ";
}

.link:hover a {
    color: #f7931e;
}

/* link description */
.link:hover .description {
    visibility: visible;
}

.description {
    visibility: hidden;
    color: #ccc;
}

.description:before {
    content: "// ";
}

/* link */
a:link, a:visited {
    color: #eee;
    text-decoration: none;
}

a:hover, a:visited:hover {
    color: #f7931e;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

/* responsivity */
@media only screen and (max-width: 650px) {
    #logo {
        width: auto;
        height: 128px;
    }

    .description {
        visibility: visible;
    }

    #content {
        margin: 2%;
    }
}

/* detect touchscreens (more-or-less) */
@media (pointer: none), (pointer:coarse) {
    .description {
        visibility: visible;
    }
}
